:root {
    font-family: system-ui;
}
body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: #e2bbbb;
    color: #333;
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f0dddd;
    max-width: 600px;
    margin: 3rem auto;
    padding: 1rem;
    border-radius: 1rem;
   
}

.card {
    padding: 1.5rem 3.5rem;
    background: #d8c1c1;
    border-radius: .5rem;
    margin: 1rem 2.5rem;
}

form {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
}

button {
    padding: .5rem 1rem;
    background-color: rgb(146, 88, 88);
    color: white;
    font-size: 1rem;
    border-radius: 0.8rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 4px solid #af5944;
    
    border-radius: .5rem;
    padding: 1.8rem;
}

h1{
    color: #5f281a;
    font-family:fantasy;
    font-size: 3rem;
}
h2{
    text-align: center;
    color: #5f281a;
}

legend{
    font-size: 1.2rem;
    font-weight: bold;
    color: #7a3322;
}

p{
font: 1rem Arial, sans-serif;    
}

input#user{
    padding: 0.8rem 0;
}